<br>
<a class="nav-link x" routerLink="" style="color:black;"><img src="assets/bri.png" alt="Logo" height="50" width="190" style="margin-right: 50px;">
    <br>
    <br>
    <div class="img">
        <br>
        <br>
        <br><br><br>
        <h4 class="ac"><br>Improve your skills
            on your own <br>to prepare
            for a better future <br> <br>
           <button class="a">REGISTER NOW</button>
        </h4>
      </div>
      <br>
        <br><br>
        <div class="container">
            <div class="row">
              <div class="col">
               <p class="f"><b> Discover Our Courses</b></p>
              </div>
              <div class="col">
               <button class="g">View More </button>
              </div>
            </div>
        <br>
        <div class="container">
            <div class="row">
              <div class="col-4">
        <div class="card" style="width: 20rem;">
            <img src="assets/c1.png" style="width:300px;" height="150px" alt="...">
            <div class="card-body">
              <h5>Spring boot/Angular</h5>
              <h5 class="bn">350Dt/Month</h5>

            </div>
            </div>
          </div>
          <div class="col-4">
    
          <div class="card" style="width: 20rem;">
            <img src="assets/c2.jpg" style="width:319px;" height="150px" alt="...">
            <div class="card-body">
                <h5>Node js/React</h5>
                <h5 class="bn">350Dt/Month</h5>
            </div>
          </div>
          </div>
          <div class="col-4">

          <div class="card" style="width: 20rem;">
            <img src="assets/c3.jpg" style="width:280px;" height="150px" alt="...">
            <div class="card-body">
                <h5>Flutter/Firebase</h5>
                <h5 class="bn">350Dt/Month</h5>
          </div>
          </div>
        </div> 
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-4">
        <div class="card" style="width: 20rem;">
            <img src="assets/c4.jpg" style="width:319px;" height="150px" alt="...">
            <div class="card-body">
                <h5>Bussiness intelligence</h5>
                <h5 class="bn">350Dt/Month</h5>

            </div>
            </div>
          </div>
          <div class="col-4">
    
          <div class="card" style="width: 20rem;">
            <img src="assets/c5.png" style="width:319px;" height="150px"alt="...">
            <div class="card-body">
                <h5>Artificial intelligence</h5>
                <h5 class="bn">350Dt/Month</h5>
            </div>
          </div>
          </div>
          <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="assets/c6.jpg" style="width:318px;" height="150px"alt="...">
            <div class="card-body">
                <h5>Devops</h5>
                <h5 class="bn">350Dt/Month</h5>
            </div>
          </div>
          </div>
        </div> 
          </div>
<br>
<br>
<div class="container az" style="background-color:rgb(230, 144, 15)">
<br>
        <h2 style="text-align: center;">Contact Us</h2>
    <form class="form-horizontal" action="/action_page.php">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="form-group">
               <b> <label class="control-label col-sm-2" for="name">Name</label></b>
                <div class="col-sm-10 ae">
                    <input type="text" class="form-control t " id="name" placeholder="Enter name" name="name" style="border-radius:20px;">
                </div>
            </div>
        </div>          
        <div class="container d-flex align-items-center justify-content-center">

      <div class="form-group">
        <b><label class="control-label col-sm-2" for="email">Email</label></b>
        <div class="col-sm-10">
          <input type="email" class="form-control t" id="email" placeholder="Enter email" name="email"  style="border-radius:20px;">
        </div>
      </div>
      </div>
      <div class="container d-flex align-items-center justify-content-center">
        <div class="form-group">
           <b> <label class="control-label col-sm-2" for="msg">Message</label></b>
            <div class="col-sm-10 ae">
                <textarea class="form-control t" id="msg" placeholder="Enter message" name="msg" style="border-radius: 20px;"></textarea>
            </div>
        </div>
    </div>
    
      <br>

      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button class="m" style="text-align: center;">Send the message</button>
          <br><br>
        </div>
      </div>
      </form>
  </div>
